---
title: Verificação de conta de criança PIBR 8000038
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 0e38f360e56d750c917e61a56bb8a7e8587c00fc
ms.sourcegitcommit: d6ea5e9458a2b8ceaab3ac4bd483e1130b9a398a
ms.translationtype: MT
ms.contentlocale: pt-PT
ms.lasthandoff: 01/15/2019
ms.locfileid: "28305328"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="10b33-102">Data de nascimento apresentado na sua conta Microsoft está incorrecta</span><span class="sxs-lookup"><span data-stu-id="10b33-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="10b33-p101">Microsoft leva muito a sério a segurança da conta. Pode ter recentemente foi-lhe para fornecer o consentimento dos pais para uma conta de criança Microsoft. Se necessitar de ajuda que forneçam o consentimento dos pais ou actualizar a data de nascimento numa conta Microsoft, consulte a [verificação de idade para consentimento dos pais](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="10b33-p101">Microsoft takes account security very seriously. You may have recently been prompted to provide parental consent for a child's Microsoft account. If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="10b33-106">Obter mais informações sobre o [consentimento dos pais e contas de criança da Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="10b33-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  

