---
title: Verificação EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: pt-PT
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205278"
---
# <a name="edu-verification"></a><span data-ttu-id="02c8d-102">Verificação EDU</span><span class="sxs-lookup"><span data-stu-id="02c8d-102">EDU verification</span></span>

<span data-ttu-id="02c8d-103">Na maioria dos casos, os pedidos de elegibilidade académica são processados dentro de 24-48 horas.</span><span class="sxs-lookup"><span data-stu-id="02c8d-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="02c8d-104">Alguns pedidos podem exigir uma revisão mais completa e podem levar até 10 dias úteis para processar.</span><span class="sxs-lookup"><span data-stu-id="02c8d-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="02c8d-105">Uma vez concluído, enviaremos um e-mail com o estado de elegibilidade da sua escola.</span><span class="sxs-lookup"><span data-stu-id="02c8d-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="02c8d-106">**Importante** Se tiver saído do assistente de verificação antes de entrar num domínio, pode [retomar o assistente de verificação académica a](https://go.microsoft.com/fwlink/p/?linkid=2135255) qualquer momento durante o seu teste gratuito.</span><span class="sxs-lookup"><span data-stu-id="02c8d-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="02c8d-107">Se quiser verificar o estado do seu domínio, vá ao [centro de administração Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="02c8d-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="02c8d-108">Na página inicial, percorra até ao fundo e encontre o **cartão de faturação.**</span><span class="sxs-lookup"><span data-stu-id="02c8d-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="02c8d-109">O **cartão de faturação** indica o estado do processo de verificação (aprovado, pendente, recusado ou adicionado o seu domínio).</span><span class="sxs-lookup"><span data-stu-id="02c8d-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="02c8d-110">Se o seu pedido for negado, veja [que a minha escola não é elegível. O que faço agora?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="02c8d-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>