---
title: Verificação EDU
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 24a9cd94272f4103fe404bf86e519582138e6b37734e11715b72ebcd2de9d5cb
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: pt-PT
ms.lasthandoff: 08/05/2021
ms.locfileid: "53946764"
---
# <a name="edu-verification"></a>Verificação EDU

Na maioria dos casos, os pedidos de elegibilidade académica são processados em 24-48 horas. Alguns pedidos podem exigir uma revisão mais aprofundada e podem demorar até 10 dias úteis para serem processados. Assim estiver concluída, iremos enviar-lhe um e-mail com o estado de elegibilidade da sua escola.

**importante** se tiver saído do assistente de verificação antes de introduzir um domínio, pode [retomar o assistente de verificação académica](https://go.microsoft.com/fwlink/p/?linkid=2135255) a qualquer altura durante a sua versão de avaliação gratuita.

Se quiser verificar o estado do seu domínio, aceda ao [Centro de administração do Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). Na página de boas-vindas, desloque-se para o fim da página e localize o cartão de **Faturação**. O cartão de **Faturação** indica o estado do processo de verificação (aprovado, pendente, recusado, ou adicionar o seu domínio).

Se o seu pedido for recusado, consulte [A minha escola não é elegível. O que faço agora?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)