---
title: Verificação EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: pt-PT
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205278"
---
# <a name="edu-verification"></a>Verificação EDU

Na maioria dos casos, os pedidos de elegibilidade académica são processados dentro de 24-48 horas. Alguns pedidos podem exigir uma revisão mais completa e podem levar até 10 dias úteis para processar. Uma vez concluído, enviaremos um e-mail com o estado de elegibilidade da sua escola.

**Importante** Se tiver saído do assistente de verificação antes de entrar num domínio, pode [retomar o assistente de verificação académica a](https://go.microsoft.com/fwlink/p/?linkid=2135255) qualquer momento durante o seu teste gratuito.

Se quiser verificar o estado do seu domínio, vá ao [centro de administração Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). Na página inicial, percorra até ao fundo e encontre o **cartão de faturação.** O **cartão de faturação** indica o estado do processo de verificação (aprovado, pendente, recusado ou adicionado o seu domínio).

Se o seu pedido for negado, veja [que a minha escola não é elegível. O que faço agora?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)