---
title: Verificação EDU
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: HT
ms.contentlocale: pt-PT
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814383"
---
# <a name="edu-verification"></a><span data-ttu-id="c4ded-102">Verificação EDU</span><span class="sxs-lookup"><span data-stu-id="c4ded-102">EDU verification</span></span>

<span data-ttu-id="c4ded-103">Na maioria dos casos, os pedidos de elegibilidade académica são processados em 24-48 horas.</span><span class="sxs-lookup"><span data-stu-id="c4ded-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="c4ded-104">Alguns pedidos podem exigir uma revisão mais aprofundada e podem demorar até 10 dias úteis para serem processados.</span><span class="sxs-lookup"><span data-stu-id="c4ded-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="c4ded-105">Assim estiver concluída, iremos enviar-lhe um e-mail com o estado de elegibilidade da sua escola.</span><span class="sxs-lookup"><span data-stu-id="c4ded-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="c4ded-106">**importante** se tiver saído do assistente de verificação antes de introduzir um domínio, pode [retomar o assistente de verificação académica](https://go.microsoft.com/fwlink/p/?linkid=2135255) a qualquer altura durante a sua versão de avaliação gratuita.</span><span class="sxs-lookup"><span data-stu-id="c4ded-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="c4ded-107">Se quiser verificar o estado do seu domínio, aceda ao [Centro de administração do Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="c4ded-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="c4ded-108">Na página de boas-vindas, desloque-se para o fim da página e localize o cartão de **Faturação**.</span><span class="sxs-lookup"><span data-stu-id="c4ded-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="c4ded-109">O cartão de **Faturação** indica o estado do processo de verificação (aprovado, pendente, recusado, ou adicionar o seu domínio).</span><span class="sxs-lookup"><span data-stu-id="c4ded-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="c4ded-110">Se o seu pedido for recusado, consulte [A minha escola não é elegível. O que faço agora?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="c4ded-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>