---
title: 8000038 verificação da conta infantil do RGPD
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 6ad5de2c3595c775d7b5080c2ac116dd002e6777
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: MT
ms.contentlocale: pt-PT
ms.lasthandoff: 09/14/2020
ms.locfileid: "47707974"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>A data de nascimento exibida na sua conta microsoft está incorreta

A Microsoft leva a segurança em conta muito a sério. Pode ter sido solicitado recentemente a fornecer o consentimento dos pais para a conta microsoft de uma criança. Se precisar de ajuda para fornecer o consentimento dos pais ou atualizar a data de nascimento numa conta da Microsoft, consulte [a verificação da idade para o consentimento dos pais.](https://go.microsoft.com/fwlink/p/?linkid=874364)
  
Saiba mais sobre [o consentimento dos pais e as contas de crianças da Microsoft.](https://go.microsoft.com/fwlink/p/?linkid=874365)
  