---
title: Verificação de conta de criança PIBR 8000038
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom: 8000038
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: c664adf9fdb0306b3407a5c23628aa4c7bbd5b83
ms.sourcegitcommit: 03a156a9c9740521155a30775492c7dff0982588
ms.translationtype: MT
ms.contentlocale: pt-PT
ms.lasthandoff: 03/22/2019
ms.locfileid: "30775847"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Data de nascimento apresentado na sua conta Microsoft está incorrecta

Microsoft leva muito a sério a segurança da conta. Pode ter recentemente foi-lhe para fornecer o consentimento dos pais para uma conta de criança Microsoft. Se necessitar de ajuda que forneçam o consentimento dos pais ou actualizar a data de nascimento numa conta Microsoft, consulte a [verificação de idade para consentimento dos pais](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Obter mais informações sobre o [consentimento dos pais e contas de criança da Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

