---
title: 8000038 RGPD verificação da conta de conta infantil
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: pt-PT
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764991"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>A data de nascimento apresentada na sua conta Microsoft está incorreta

A Microsoft leva a segurança da conta muito a sério. Pode ter sido recentemente solicitado a fornecer o consentimento dos pais para a conta microsoft de uma criança. Se precisar de ajuda para fornecer o consentimento dos pais ou atualizar a data de nascimento numa conta da Microsoft, consulte a [verificação](https://go.microsoft.com/fwlink/p/?linkid=874364)da idade para o consentimento dos pais .
  
Saiba mais sobre o [consentimento dos pais e as contas de crianças](https://go.microsoft.com/fwlink/p/?linkid=874365)da Microsoft.
  