---
title: Verificação de editor de resolução de problemas
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: pt-PT
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885368"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>Questões relacionadas com a Verificação de Editores para programadores

**Passos recomendados** 

Para resolver questões relacionadas com a verificação do editor, execute os passos abaixo:

1. Reveja os pré-requisitos e outros requisitos para garantir que todos são cumpridos.
2. Reveja as instruções para [marcar uma aplicação como editor verificado](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) e certifique-se de que todas as etapas foram executadas com sucesso.
3. Reveja a lista de [questões comuns](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) e siga os passos recomendados se tiver algum problema com essa lista.
4. Reproduza o pedido utilizando o [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) para recolher informações adicionais e excluir quaisquer problemas na UI.

**Documentos recomendados**

- [Verificação do editor - visão geral](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [Marque a sua app como editora verificada](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [Verificação de editor de resolução de problemas](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

