---
title: Verificação de editor de resolução de problemas
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: pt-PT
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885368"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="d95e1-102">Questões relacionadas com a Verificação de Editores para programadores</span><span class="sxs-lookup"><span data-stu-id="d95e1-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="d95e1-103">**Passos recomendados**</span><span class="sxs-lookup"><span data-stu-id="d95e1-103">**Recommended steps**</span></span> 

<span data-ttu-id="d95e1-104">Para resolver questões relacionadas com a verificação do editor, execute os passos abaixo:</span><span class="sxs-lookup"><span data-stu-id="d95e1-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="d95e1-105">Reveja os pré-requisitos e outros requisitos para garantir que todos são cumpridos.</span><span class="sxs-lookup"><span data-stu-id="d95e1-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="d95e1-106">Reveja as instruções para [marcar uma aplicação como editor verificado](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) e certifique-se de que todas as etapas foram executadas com sucesso.</span><span class="sxs-lookup"><span data-stu-id="d95e1-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="d95e1-107">Reveja a lista de [questões comuns](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) e siga os passos recomendados se tiver algum problema com essa lista.</span><span class="sxs-lookup"><span data-stu-id="d95e1-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="d95e1-108">Reproduza o pedido utilizando o [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) para recolher informações adicionais e excluir quaisquer problemas na UI.</span><span class="sxs-lookup"><span data-stu-id="d95e1-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="d95e1-109">**Documentos recomendados**</span><span class="sxs-lookup"><span data-stu-id="d95e1-109">**Recommended documents**</span></span>

- [<span data-ttu-id="d95e1-110">Verificação do editor - visão geral</span><span class="sxs-lookup"><span data-stu-id="d95e1-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="d95e1-111">Marque a sua app como editora verificada</span><span class="sxs-lookup"><span data-stu-id="d95e1-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="d95e1-112">Verificação de editor de resolução de problemas</span><span class="sxs-lookup"><span data-stu-id="d95e1-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

